<div class="d-flex">
  <div class="form-inline mr-auto">
    <div class="from-group mb-2">
      <label class="mr-3" style="display: inline;">Filtro:</label>
      <input type="text" class="form-control mr-2" placeholder="buscar"
      [(ngModel)]="filtroLista">
    </div>
  </div>
  <div>
    <button class="btn btn-outline-primary" (click)="novoEvento(templete)">
      <i class="fa fa-plus-circle"></i>&nbsp;
      Novo Evento
      
    </button>
    
  </div>
</div>
<h3>Filtro Por Tema: {{filtroLista}}</h3>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button class="btn btn-outline-primary" (click)="alternarImg()" >
          <i class="{{mostrarImagem ? 'fa fa-eye-slash' : 'fa fa-eye' }}"></i>
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>N' Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img *ngIf="mostrarImagem"
        src="http://localhost:5000/img/{{evento.imagemUrl}}"
        [style.width.px]="imagemLargura"
        [style.margin.px]="imagemMargem"
        >
      </td>
      <td>{{evento.id}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento | DateTimeFormatPipe}}</td>
      <td>{{evento.qtdePessoas}}</td>
      <td>
        <div *ngIf="!evento.lotes.length">
          Não Informado.
        </div>
        
        <div *ngIf="evento.lotes.length">
          {{evento.lotes[0].nome | uppercase}}
        </div>
      </td>
      <td>
        <div class="btn-group">
          <button class="btn btn-sm btn-success"
          tooltip="Editar" (click)="editarEvento(evento, templete)">
          <i class=" fa fa-edit"></i>
        </button>  
        <button class="btn btn-sm btn-danger"
          tooltip="Excluir" (click)="excluirEvento(evento, confirm)">
          <i class=" fa fa-eraser"></i>
        </button>   
      </div>  
    </td>
  </tr>
</tbody>
<tfoot *ngIf="!eventos.length">
  <tr>
    <td colspan="7" class="text-center">
      <h4>Nenhum evento encontrado!</h4>
    </td>
  </tr>
</tfoot>
</table>

<!--Large modal-->
<div bsModal #templete="bs-modal" class="modal fade" tabindex="-1"
role="dialog" aria-labelledby="dialog-sizes-name1">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 id="dialog-sizes-name1" class="modal-title pull-left">Editar evento</h4>
      <button type="button" class="close pull-right" (click)="templete.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <!--Corpo do Modal-->
    <div class="modal-body">
      <form [formGroup]="registerForm">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Tema</label>
            <input type="text" class="form-control"
            [ngClass]="{'is-invalid': registerForm.get('tema').errors && registerForm.get('tema').touched}"
            formControlName="tema" placeholder="Insira o Tema">
            <div *ngIf="registerForm.get('tema').hasError('required') && registerForm.get('tema').touched" class="invalid-feedback">
              Tema é obrigatório.
            </div>
            <div *ngIf="registerForm.get('tema').hasError('minlength') && registerForm.get('tema').touched" class="invalid-feedback">
              Tema deve ter no mínimo 4 caracteres.
            </div>
            <div *ngIf="registerForm.get('tema').hasError('maxlength') && registerForm.get('tema').touched" class="invalid-feedback">
              Tema deve ter no máximo 50 caracteres.
            </div>
          </div>
        </div>  
        <div class="form-row">
          <div class="form-group col-md-8">
            <label>Local</label>
            <input type="text" class="form-control"
            [ngClass]="{'is-invalid': registerForm.get('local').errors && registerForm.get('local').touched}"
            formControlName="local" placeholder="Insira o Local">
            <div *ngIf="registerForm.get('local').hasError('required') && registerForm.get('local').touched" class="invalid-feedback">
              Local é obrigatório.
            </div>
            <div *ngIf="registerForm.get('local').hasError('minlength') && registerForm.get('local').touched" class="invalid-feedback">
              Tema deve ter no mínimo 4 caracteres.
            </div>
            <div *ngIf="registerForm.get('local').hasError('maxlength') && registerForm.get('local').touched" class="invalid-feedback">
              Tema deve ter no máximo 50 caracteres.
            </div>
          </div>
          <div class="form-group col-md-4">
            <label>Data e Hora</label>
            <input type="text" class="form-control"
            bsDatepicker
            [ngClass]="{'is-invalid': registerForm.get('dataEvento').errors && registerForm.get('dataEvento').touched}"
            formControlName="dataEvento" placeholder="">
            <div *ngIf="registerForm.get('dataEvento').hasError('required') && registerForm.get('dataEvento').touched"
            class="invalid-feedback">
            Data e hora é obrigatório.
          </div>
        </div>
      </div>  
      <div class="form-row">
        <div class="form-group col-md-3">
          <label>Qtd Pessoas</label>
          <input type="text" class="form-control"
          [ngClass]="{'is-invalid': registerForm.get('qtdePessoas').errors && registerForm.get('qtdePessoas').touched}"
          formControlName="qtdePessoas" placeholder="">
          <div *ngIf="registerForm.get('qtdePessoas').hasError('required') && registerForm.get('qtdePessoas').touched"
          class="invalid-feedback">
          A quantidade é obrigatório.
        </div>
        <div *ngIf="registerForm.get('qtdePessoas').hasError('max') && registerForm.get('qtdePessoas').touched" 
        class="invalid-feedback">
        A quantidade deve ser menor que 5000 pessoas.
      </div>
    </div>
    <div class="form-group col-md-9">
      <label>Imagem</label>
      <input type="text"  class="form-control" 
      [ngClass]="{'is-invalid': registerForm.get('imagemUrl').errors && registerForm.get('imagemUrl').touched}"
      formControlName="imagemUrl" placeholder="">
      <div *ngIf="registerForm.get('imagemUrl').hasError('required') && registerForm.get('imagemUrl').touched"
      class="invalid-feedback">
      A imagem é obrigatório.
    </div>
  </div>
</div>  
<div class="form-row">
  <div class="form-group col-md-4">
    <label>Telefone</label>
    <input type="text" class="form-control"
    [ngClass]="{'is-invalid': registerForm.get('telefone').errors && registerForm.get('telefone').touched}"
    formControlName="telefone" placeholder="">
    <div *ngIf="registerForm.get('telefone').hasError('required') && registerForm.get('telefone').touched"
    class="invalid-feedback">
    Telefone é obrigatório.
  </div>
</div>
<div class="form-group col-md-8">
  <label>Email</label>
  <input type="text" class="form-control"
  [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched}"
  formControlName="email">
  <div *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched"
  class="invalid-feedback">
  Email é obrigatório.
</div>
<div *ngIf="registerForm.get('email').hasError('email') && registerForm.get('email').touched"
class="invalid-feedback">
Email deve ser válido.
</div>
</div>
</div> 
</form>
<!--Corpo do Modal-->
</div>
<!--Footer do Modal-->
<div class="modal-footer d-flex">
  <button class="btn btn-secondary" (click)="templete.hide()">
    Fechar
  </button>
  <button class="btn btn-primary" [disabled]="!registerForm.valid" (click)="salvarAlteracao(templete)">
    Salvar Alterações
  </button>
</div>
</div>
</div>
</div>
<!--Footer do Modal-->

<div bsModal #confirm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
	<div class="modal-dialog modal-sm">
  		<div class="modal-content">
    		<div class="modal-header">
      			<h4 class="modal-title pull-left">
        			Deletando Evento
      			</h4>
      			<button type="button" class="close pull-right" (click)="confirm.hide()" aria-label="Close">
        			<span aria-hidden="true">&times;</span>
      			</button>
    		</div>
    		<div class="modal-body">
      			<p>{{bodyDeletarEvento}}</p>
    		</div>    
    		<div class="modal-footer btn-group d-flex">      
      			<button type="button" class="btn btn-outline-primary" (click)="confirm.hide()">
        			CENCELAR
      			</button>
      			<button type="button" class="btn btn-outline-danger" (click)="confirmeDelete(confirm)">
          		DELETAR
        		</button>
    		</div>
      </div>
	</div>
</div>


